.input {
  border: 1px solid #cfd4db;
  border-radius: 2rem;
  font-size: 1em;
  line-height: 2em;
  outline: none;
  padding: 0 .5em 0 2.5em;
  background: #fff url(search.svg) .6rem .5rem no-repeat;
  background-size: 1rem;
}
